.App {
  text-align: center;
  width: 100%;
}

.container {
  width: 100%;
}

.button {
  margin-left: 10px;
}
.produtosList {
  margin-top: 5rem;
  text-align: left;
}

.ProdutoCard {
  width: 20rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.sugestoes {
  margin-top: 5rem;
  text-align: left;
}

.SugestaoCard {
  width: 20rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
